<main class="page-content">
  <div class="wrapper">
    <div class="page-headline">
      <p class="headline-text">View most recent posts:</p>
      <%= form_tag password_reset_path, class: 'headline-options styled-select colored rounded' do %>
        <%= select_tag "article_options", options_for_select([ "Most Recent", "All-Time Top Rated", "Yearly Top Rated", "Monthly Top Rated", "Daily Top Rated" ], "Most Recent") %>
      <% end %>
    </div>
    <div id="article-list">
      <%= render partial: 'articles/list', locals: {articles: @articles}%>
    </div>
  </div>
</main>
