<main class="page-content">
  <div class="wrapper">
    <h1><%= @article.title %></h1>
    <%= @article.body.html_safe %>
    <% if @article.content_img.attached? %>
      <img src='<%= url_for(@article.content_img) %>' class='article-img'/>
    <% end %>
    <div>
      <%= link_to 'Back', root_url, {class: 'link article-bubble-link'} %>
    </div>
  </div>
</main>
