<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <p>&copy;2017 by Aatif Jiwani</p>
      </div>

      <div class="footer-col footer-col-2">
        <p>This site is not meant to replace Hacker News. 
        Please refer to their site at <%= link_to 'news.ycombinator.com', 'http://news.ycombinator.com' %></p>  
    </div>
    
      
      <div class="footer-col footer-col-3">
        <p>Created during my 2018 Rails Developer Internship at 
          <%= link_to 'Viget', 'http://www.viget.com' %>
          </p>
      </div>
    </div>
  </div>

</footer>