<header class="site-header" role="banner">
  <div class="wrapper">
      <p class="site-title" >Haxxor News</p>
      <nav class="site-nav">
        <div class="trigger">
            <%= link_to 'Home', home_index_path, {:class => 
    'page-link'} %>
            <%= link_to 'Create Post', new_articles_path, {:class => 'page-link'} %>
      </div>
      </nav></div>
</header>