<!DOCTYPE html>

<header class="site-header" role="banner">
  <div class="wrapper">
    <p class="site-title" >Haxxor News</p>
    <nav class="site-nav">
      <div class="trigger">
        <%= link_to 'Create Post', nil, {class: 'page-link'} %>
      </div>
    </nav>
  </div>
</header>

<main class="page-content">
  <div class="wrapper">
    <div class="page-headline">
      <p>View most recent posts:</p>
    </div>
  </div>
</main>

<%= render 'templates/footer' %>