// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
* Reset some basic elements
*/

/*
* COLORS
* Ember: B30115
* Posy: 813772
* Ink: 062F4f
*/

@import 'home/footer';
@import 'home/nav';

:root {
    --ember-color: #B30115;
    --posy-color: #813772;
    --ink-color: #062F4F;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0; }

/**
* Basic styling
*/
body {
    font: 400 16px/1.5 Roboto, Helvetica, Arial, sans-serif;
    color: #535353;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column; }

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure,
.highlight {
    margin-bottom: 15px; }

/**
* `main` element
*/
main {
    display: block;
    /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/**
* Images
*/
img {
    max-width: 100%;
    vertical-align: middle; }

/**
* Lists
*/
ul, ol {
    margin-left: 30px; }

li > ul,
li > ol {
    margin-bottom: 0; }


/**
* Links
*/
a, a:hover {
    text-decoration: none;
}


/**
* Wrapper
*/
.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px; 
}
@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px; } }

/**
* Clearfix
*/
.wrapper:after, .footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both; }

//Page Content
.page-content {
    padding: 50px 0;
    flex: 1;

    #home-headline {
        padding: 10px;
        margin-left: 10px;
    }
}

.page-headline {
    width: 100%;
    height: auto;
    background-color: var(--ink-color);
    color: #bde2ff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.page-article {
    background-color: rgb(246, 246, 239);
    border-bottom: 1px solid var(--ink-color);
    padding: 10px 0px 10px 20px;

    .article-body {
        font-size: 12px;
        margin-left: 19px;
    }

    .article-link {
        font-size: 12px;
        color: var(--ember-color);
    }

    .article-link:hover {
        color: var(--ink-color);
    }
}
