// Place all the styles related to the PasswordReset controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mail/reset_mail';

.flash-notice {
    border-radius: 3px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 204, 0, 0.5);
    border: 1px solid #00b924;
    padding: 5px 0px 5px 10px;
}

.flash-alert {
    border-radius: 3px;
    width: 100%;
    height: auto;
    background-color: rgba(204, 0, 0, 0.5);
    border: 1px solid var(--ember-color);
    padding: 5px 0px 5px 10px;
}